<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DPC.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ETNA.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FLOTEQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>FULlNG.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Grunwl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>KAIYUAN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>KERMANI.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LEO.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MAB.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SUMAK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WeNDY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ebitt.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D53E117E1EFE60330014B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53E11F21EFFB47D0014B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53E12611EFFC0D20014B8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF3C01DDFE5D300EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF4271DE0374900EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF48E1DE03A7B00EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF4F51DE03B6E00EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF55C1DE03C0900EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ABF5C31DE03C9B00EB0BA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BC648C1DE1250200C21767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5D34FC41E2257D600D275E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5D350311E22589400D275E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5DDD44D1C5B6917002D1264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
