<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>哈尓滨必拓</string>
	<key>2</key>
	<string>常州新丰机电</string>
	<key>3</key>
	<string>郑州铭一晟</string>
	<key>4</key>
	<string>杭州铭源升</string>
	<key>5</key>
	<string>北京上荣达</string>
	<key>6</key>
	<string>连云港利欧</string>
	<key>7</key>
	<string>西安威乐</string>
	<key>8</key>
	<string>重庆利水</string>
	<key>9</key>
	<string>成都格兰威</string>
	<key>10</key>
	<string>大连森茂</string>
	<key>11</key>
	<string>南昌威能</string>
	<key>12</key>
	<string>南宁鼎丰</string>
	<key>13</key>
	<string>福州隆力</string>
	<key>14</key>
	<string>武汉创亿欣</string>
	<key>15</key>
	<string>长沙威乐</string>
	<key>16</key>
	<string>泉州一泵</string>
	<key>17</key>
	<string>夏门广富</string>
	<key>18</key>
	<string>深圳新东南</string>
	<key>19</key>
	<string>上海企翔</string>
	<key>20</key>
	<string>上海格兰富</string>
	<key>21</key>
	<string>南京钿隆智能泵</string>
	<key>22</key>
	<string>南京汉力智能泵</string>
	<key>23</key>
	<string>金坛小林智能泵</string>
	<key>24</key>
	<string>海南瑞豪智能泵</string>
	<key>25</key>
	<string>锦州利欧智能泵</string>
	<key>26</key>
	<string>成都明珠泵业</string>
	<key>27</key>
	<string>潍坊利鸿智能泵</string>
	<key>28</key>
	<string>宜兴建发智能泵</string>
	<key>29</key>
	<string>临沂利欧智能泵</string>
	<key>30</key>
	<string>正通智能水泵</string>
	<key>101</key>
	<string>HYDRO</string>
	<key>102</key>
	<string>HEISSKRAFT</string>
	<key>103</key>
	<string>DPC</string>
	<key>104</key>
	<string>CALGON</string>
	<key>105</key>
	<string>AQS</string>
	<key>106</key>
	<string>EVANS</string>
	<key>107</key>
	<string>VDE</string>
	<key>108</key>
	<string>MATIC</string>
	<key>109</key>
	<string>WILO</string>
	<key>110</key>
	<string>GRUNDFOS</string>
	<key>111</key>
	<string>ITTPUMP</string>
	<key>112</key>
	<string>ESPAPUMP</string>
	<key>113</key>
	<string>SUMAK</string>
	<key>114</key>
	<string>IDEAL</string>
	<key>115</key>
	<string>DABPUMP</string>
	<key>116</key>
	<string>CNPPUMP</string>
	<key>117</key>
	<string>LEOPUMP</string>
	<key>118</key>
	<string>GRINWL</string>
	<key>119</key>
	<string>MAB</string>
	<key>120</key>
	<string>GRUNWL</string>
</dict>
</plist>
